@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.cursor-pointer {
    cursor: pointer;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  width: 100%;
  min-height: 100vh;
}